
<section class="about-band">
  <header class="about-header">
    <h1 class="about-title"><strong>Clancy World Tour - MEX</strong></h1>
  </header>

  <article class="about-content">
    <p>
      FEB 20, 2025 - Estadio GNP Seguros - Mexico City, MX - <a href="https://www.ticketmaster.com.mx/event/140060A7134B2E1A" class="btn btn-primary">Get tickets</a>
      <br> <br>
      FEB 22, 2025 - Estadio 3 de Marzo - Guadalajara, MX - <a href="https://www.ticketmaster.com.mx/event/3D0060A2E2D14E8F" class="btn btn-primary">Get tickets</a>
      <br> <br>
      FEB 24, 2025 - Estadio Banorte - Monterrey, MX - <a href="https://www.ticketmaster.com.mx/event/3D0060A29EE42E82" class="btn btn-primary">Get tickets</a>
      <br>
    </p>
    <figure class="band-image">
      <img 
        src="https://www.syracuse.com/resizer/v2/DXH5CTTX7BHXPI2UCPRLGMXSXY.jpg?auth=81eb013f803068ec132a8c63d23037d93fc48dca24dfbdbdba3e0026831ff315&width=500&quality=90" 
      />
    </figure>
    <a href="/home" class="btn btn-primary">Home</a>
  </article>
</section>
