
<section class="about-band">
  <header class="about-header">
    <h1 class="about-title"><strong>About Twenty One Pilots</strong></h1>
  </header>

  <article class="about-content">
    <p>
      Twenty One Pilots is an American musical duo from Columbus, Ohio. The band was formed in 2009
by vocalist Tyler Joseph along with Nick Thomas and Chris Salih, who left in 2011.
Since their departure, the lineup has consisted of singer Tyler Joseph and drummer Josh Dun.
The group received a Grammy Award for Best Pop Duo/Group at the 2017 Grammy Awards.
    </p>
    <figure class="band-image">
      <img 
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Twenty_One_Pilots_-_Southside_Festival_2022_-_IMG_6029_-_1_%28cropped%29.jpg/270px-Twenty_One_Pilots_-_Southside_Festival_2022_-_IMG_6029_-_1_%28cropped%29.jpg" 
        alt="Twenty One Pilots en el Southside Festival 2022"
      />
      <figcaption>Twenty One Pilots at the Southside Festival 2022</figcaption>
    </figure>
    <a href="/home" class="btn btn-primary">Home</a>
  </article>
</section>
