
<section class="about-band">
  <header class="about-header">
    <h1 class="about-title"><strong>TOP Merch  </strong><a href="/home" class="btn btn-primary">Home</a></h1>
  </header>

  <article class="about-content">
    <p>
          See the complete catalog of the Clancy merchandise by clicking on the button below
    </p>
    <a href="https://store.twentyonepilots.com/" class="btn btn-primary">Official Merch</a>
    <div class="content">
    <figure class="band-image">
      <img 
        src="https://m.media-amazon.com/images/I/31YKdLdgK3L._AC_.jpg" 
        alt="Twenty One Pilots en el Southside Festival 2022"
      />
    </figure>
    <figure class="band-image">
      <img 
        src="https://twentyonepilots.warnerartists.net/dw/image/v2/BHCC_PRD/on/demandware.static/-/Sites-warner-master/default/dw26792693/TWENTY%20ONE%20PILOTS/Xmas24/Stage%20T-Shirt.png?sw=600&sh=600&sm=fit" 
        alt="Twenty One Pilots en el Southside Festival 2022"
      />
    </figure>
    <figure class="band-image">
      <img 
        src="https://store.twentyonepilots.com/cdn/shop/files/Untitleddesign-2024-11-13T162217.779_533x.png?v=1731536027" 
        alt="Twenty One Pilots en el Southside Festival 2022"
      />
    </figure>
    <figure class="band-image">
      <img 
        src="https://images-cdn.ubuy.com.mx/64a34efff73d6800e571d51a-twenty-one-pilots-logo-black-heavy.jpg" 
        alt="Twenty One Pilots en el Southside Festival 2022"
      />
    </figure>
    <figure class="band-image">
      <img 
        src="https://http2.mlstatic.com/D_NQ_NP_879974-MLM52674139314_122022-O.webp" 
        alt="Twenty One Pilots en el Southside Festival 2022"
      />
    </figure>
    <figure class="band-image">
      <img 
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXDtdqXBCHfvhH2gZ36SSA-ycK49233rRKcg&s" 
        alt="Twenty One Pilots en el Southside Festival 2022"
      />
    </figure>
    <figure class="band-image">
      <img 
        src="https://ashopmexico.com/cdn/shop/products/Merch-11_1000x1500_29ba75a0-4fa8-44b2-90ea-fd3a737f9a65.png?v=1618082266" 
        alt="Twenty One Pilots en el Southside Festival 2022"
      />
    </figure>
    <figure class="band-image">
      <img 
        src="https://preview.redd.it/difference-in-merch-v0-94laxkuzxo6c1.jpg?width=920&format=pjpg&auto=webp&s=e5fc10c106609b95b1b5bccb22465dfab5cc705d" 
        alt="Twenty One Pilots en el Southside Festival 2022"
      />
    </figure>
    <figure class="band-image">
      <img 
        src="https://store.twentyonepilots.com/cdn/shop/files/Untitleddesign-2024-10-08T114045.645.png?v=1728404006" 
        alt="Twenty One Pilots en el Southside Festival 2022"
      />
    </figure>
    <figure class="band-image">
      <img 
        src="https://store.twentyonepilots.com/cdn/shop/files/Untitleddesign-2024-10-08T113754.470.png?v=1728403957" 
        alt="Twenty One Pilots en el Southside Festival 2022"
      />
    </figure>
  </div>
  <figcaption>Find all about what Twenty One Pilots has for sale!</figcaption>
  </article>
</section>
