<section class="about-band">
  <header class="about-header">
    <h1 class="about-title"><strong>Greatest Hits  </strong><a href="/home" class="btn btn-primary">Home</a></h1>
  </header>

  <article class="about-content">
    <div class="discography">
      <div class="album">
        <p>Stressed Out</p>
        <a href="https://www.youtube.com/watch?v=pXRviuL6vMY&pp=ygUMc3RyZXNzZWQgb3V0" class="btn btn-secondary">
          <img src="https://i.ytimg.com/vi/pXRviuL6vMY/maxresdefault.jpg">
        </a>
      </div>
      
      <div class="album">
        <br>
        <p>Heathens</p>
        <a href="https://www.youtube.com/watch?v=UprcpdwuwCg&pp=ygUIaGVhdGhlbnM%3D" class="btn btn-secondary">
          <img src="https://i.ytimg.com/vi/UprcpdwuwCg/maxresdefault.jpg">
        </a>
      </div>

      <div class="album">
        <br>
        <p>Ride</p>
        <a href="https://www.youtube.com/watch?v=Pw-0pbY9JeU&pp=ygUEcmlkZQ%3D%3D" class="btn btn-secondary">
          <img src="https://i.ytimg.com/vi/Pw-0pbY9JeU/maxresdefault.jpg">
        </a>
      </div> 
    </div>

    <div class="discography">
      <div class="album">
        <p>Tear in My Heart</p>
        <a href="https://www.youtube.com/watch?v=nky4me4NP70&pp=ygUQdGVhciBpbiBteSBoZWFydA%3D%3D" class="btn btn-secondary">
          <img src="https://i.ytimg.com/vi/nky4me4NP70/maxresdefault.jpg">
        </a>
      </div>

      <div class="album">
        <br>
        <p>Chlorine</p>
        <a href="https://www.youtube.com/watch?v=eJnQBXmZ7Ek&pp=ygUIY2hsb3JpbmU%3D" class="btn btn-secondary">
          <img src="https://i.ytimg.com/vi/eJnQBXmZ7Ek/maxresdefault.jpg">
        </a>
      </div>

      <div class="album">
        <br>
        <p>Car Radio</p>
        <a href="https://www.youtube.com/watch?v=92XVwY54h5k&pp=ygUJY2FyIHJhZGlv" class="btn btn-secondary">
          <img src="https://i.ytimg.com/vi/92XVwY54h5k/maxresdefault.jpg">
        </a>
      </div>
    </div>

    <div class="discography">
      <div class="album">
        <p>Heavydirtysoul</p>
        <a href="https://www.youtube.com/watch?v=r_9Kf0D5BTs&pp=ygUQaGVhdnkgZGlydHkgc291bA%3D%3D" class="btn btn-secondary">
          <img src="https://i.ytimg.com/vi/r_9Kf0D5BTs/maxresdefault.jpg">
        </a>
      </div>

      <div class="album">
        <br>
        <p>House of Gold</p>
        <a href="https://www.youtube.com/watch?v=mDyxykpYeu8&pp=ygUfaG91c2Ugb2YgZ29sZCB0d2VudHkgb25lIHBpbG90cw%3D%3D" class="btn btn-secondary">
          <img src="https://i.ytimg.com/vi/mDyxykpYeu8/maxresdefault.jpg">
        </a>
      </div>

      <div class="album">
        <br>
        <p>Lane Boy</p>
        <a href="https://www.youtube.com/watch?v=ywvRgGAd2XI&pp=ygUIbGFuZSBib3k%3D" class="btn btn-secondary">
          <img src="https://i.ytimg.com/vi/ywvRgGAd2XI/maxresdefault.jpg">
        </a>
      </div>
    </div>

    
  </article>
</section>
