<section class="about-band">
  <header class="about-header">
    <h1 class="about-title"><strong>TOP Discography  </strong><a href="/home" class="btn btn-primary">Home</a></h1>
  </header>

  <article class="about-content">
    <div class="discography">
      <div class="album">
        <br>
        <p>Twenty One Pilots - 2009</p>
        <a href="https://open.spotify.com/intl-es/album/1Fexc96V24RL17Ko9VXUOM" class="btn btn-secondary">
          <img src="https://upload.wikimedia.org/wikipedia/en/a/af/Twenty_One_Pilots_album_cover.png" alt="Twenty One Pilots - 2009">
        </a>
      </div>
      
      
      <div class="album">
        <br>
        <p>Vessel - 2013</p>
        <a href="https://open.spotify.com/album/2r2r78NE05YjyHyVbVgqFn" class="btn btn-secondary">
          <img src="https://upload.wikimedia.org/wikipedia/en/0/0f/Twenty_One_Pilots_-_Vessel.png" alt="Vessel - 2013">
        </a>
      </div> 
      
    </div>

    <div class="discography">
      <div class="album">
        <br>
        <p>Regional At Best - 2011</p>
        <a href="https://www.deezer.com/en/album/1182097" class="btn btn-secondary">
          <img src="https://cdn-images.dzcdn.net/images/cover/e276d1f527dc726a47cb10a87cf90742/500x500.jpg" alt="Regional At Best - 2011">
        </a>
      </div>

      <div class="album">
        <br>
        <p>Blurryface - 2015</p>
        <a href="https://open.spotify.com/intl-es/album/3cQO7jp5S9qLBoIVtbkSM1" class="btn btn-secondary">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBXGowLXUMIjZFK6stC9VeUHY_6hJJ0UaMOg&s">
        </a>
      </div>

     
    </div>

    <div class="discography">
        <div class="album">
          <br><br>
          <p>Trench - 2018</p>
          <a href="https://open.spotify.com/intl-es/album/621cXqrTSSJi1WqDMSLmbL" class="btn btn-secondary">
            <img src="https://i.scdn.co/image/ab67616d0000b273d1d301e737da4324479c6660">
          </a>
        </div>
  
        <div class="album">
          <br>
          <p>Scaled And Icy - 2021</p>
          <a href="https://open.spotify.com/album/0Q5XBpCYFgUWiG9DUWyAmJ" class="btn btn-secondary">
            <img src="https://m.media-amazon.com/images/I/91jyPgz-o4L._UF1000,1000_QL80_.jpg">
          </a>
        </div>
    </div>

    <div class="discography">
      <p>Clancy - 2024</p>
      <a href="https://open.spotify.com/intl-es/album/1KFWgQTw3EMTQebaaepVBI" class="btn btn-secondary">
        <img src="https://i.scdn.co/image/ab67616d0000b2739cf15c7323fb85b7112197d5">
      </a>
    </div>

    
  </article>
</section>
