<ion-header [translucent]="true">
  <ion-toolbar class="bg-black-800 text-black-100">
    <ion-title class="text-xl font-semibold">
      My App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-gray-900 text-gray-200">
  <ion-header>
    <ion-toolbar class="bg-black-800">
      <ion-title size="large" class="text-xl font-semibold text-black-100">
        Datos Personales
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="flex items-center justify-center min-h-screen px-4">
    <div class="bg-cyan-700 rounded-lg shadow-lg p-20 max-w-sm text-center">
      <h1 class="text-3xl font-bold mb-4 text-gray-50">EA3</h1>
      <p class="text-lg mb-4 text-gray-300">
        Omar Del Toro Covarrubias 6°C<br>
      </p>
      <button
        class="bg-red-500 hover:bg-blue-700 text-white hover:text-black font-bold py-2 px-6 rounded transition duration-600"
      >
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUXbmV2ZXIgZ29ubmEgZ2l2ZSB5b3UgdXA%3D">Botón mágico</a>
      </button>
      <div class="mt-6 text-gray-400 text-sm font-bold">
        Matrícula 19033
      </div>
    </div>
  </div>
</ion-content>
